*background:  {{background}}
*foreground:  {{foreground}}

*colorBD:     {{fg_highlight}}
*colorIT:     {{fg_highlight}}
*colorUL:     {{fg_highlight}}

*cursorColor: {{cyan}}

! BLACK
*color0:      {{bg_jump}}
*color8:      {{fg_comment}}

! WHITE
*color7:      {{fg_highlight}}
*color15:     {{fg_peak}}

! RED
*color1:      {{darkred}}
*color9:      {{red}}

! YELLOW
*color3:      {{darkyellow}}
*color11:     {{yellow}}

! GREEN
*color2:      {{darkgreen}}
*color10:     {{green}}

! CYAN
*color6:      {{darkcyan}}
*color14:     {{cyan}}

! BLUE
*color4:      {{darkblue}}
*color12:     {{blue}}

! MAGENTA
*color5:      {{darkmagenta}}
*color13:     {{magenta}}

